.formulario{
    width: 40%;
    
    margin: 3.75rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label_estilo{
    font-size: 1rem;
    margin: .5rem;
}

.input_estilo{
    width: 100% ;
    border-radius: 8px;
    padding: .5rem;
}

.btn_enviar{
    margin-top: 1rem;
    padding: .25rem;
    border-radius: 8px;
    background-color: aqua;
    color: white;
    font-weight: 700;
}

textarea{
    resize: none;
}